<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="icon" href="/img/favicon.png">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Adicionar Produtos</title>
</head>

<body style="background-color:honeydew;">
	<div th:replace="~{menu :: menu}"></div>
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h1>Adicionar Produto</h1>
				<form th:action="@{'/comerciantes/' + ${id} + '/produtos'}"  enctype="multipart/form-data"  method="post">
					<div class="form-floating mb-3">
						<input type="text" name="nome" class="form-control" placeholder="Nome do Produto" required>
						<label for="validationCustom01">Nome do Produto</label>
					</div>
					<div class="col-md-4">
						<label for="inputState" class="form-label"><strong> Selecione a categoria</strong></label>
						<select class="form-select" name="categoria" required>
							<option selected>Categoria do Produto</option>
							<option value="Alimento">Alimento</option>
							<option value="Vestuario">Vestuário</option>
							<option value="Artesanato">Artesanato</option>
							<option value="Acessório">Acessório</option>
							<option value="Outro">Outro</option>
						</select>
					</div>
					<br>
					<div class="col-md-2">
						<label for="form-label"><strong>Preço</strong></label>
						<input type="number" step="0.01" name="preco" class="form-control"  placeholder="R$" required>
						
					</div>
					<br>
					<div class="form-floating mb-3">
						<input type="text" name="descricao" class="form-control" maxlength="275" placeholder="Descrição" style="height: 100px" required>
						<label class="form-label" for="floatingInput">Descrição</label>
						<div class="form-text">Limite máximo de 255 caracteres</div>
					</div>
 
					<div class="form-floating">
						<input type="datetime-local" name="horarioVenda" class="form-control"  placeholder="Horário de Venda" required>
						<label for="">Horário de Venda</label>
					</div>
					<br>
					
					<br>
					<div class="input-group mb-3">
						<input type="file" name="file" class="form-control" >
						<label class="input-group-text" for="inputGroupFile02">Foto do Produto</label>
					</div>
					<br>
					
					<div>
						<button type="submit" class="btn btn-success">Cadastrar</button>
					</div>

			</form>






	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
</body>

</html>