<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="icon" href="img/favicon.png">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cadastre-se</title>
</head>

<body style="background-color:honeydew;">
	<div th:replace="~{menu :: menu}"></div>
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h1 style="text-align: center;">Faça seu Cadastro</h1>
				<form action="/comerciantes"  enctype="multipart/form-data"  method="post">
					
					<div class="form-floating mb-3">
						<input type="text" name="nome" class="form-control"  placeholder="Nome"  required>
						<label for="validationCustom01">Nome</label>
					</div>
					<div class=" mb-3">
						<label class="form-label" ><b><i class="bi bi-whatsapp"></i> Whatsapp </b></label>
						<input type="tel" name="numWhats"  class="form-control"  placeholder="DD + Número" maxlength="11" minlength="11"  required>
						<div class="form-text">Ex: (84)98765-4321</div>
					</div>

					<div class="form-floating mb-3">
						<input type="email" name="email" class="form-control"  placeholder="E-mail"  required>
						<label >E-mail</label>
					</div>
					
					<div class="form-floating col">
						<input type="password" name="senha" class="form-control" minlength="8" placeholder="Senha" required>
						<label>Senha</label>
						
					</div>
					<br>
					
					<br>
					<div class="input-group mb-3">
						<input type="file" name="file" class="form-control"  >
						<label class="input-group-text">Foto de Perfil</label>
					</div>
					<br>
					
					<div>
						<button type="submit" class="btn btn-success">Cadastrar</button>
					</div>

			</form>
			





	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

		
		  
</body>

</html>