<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="shortcut icon" type="x-icon"  href="/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Página Inicial</title>
</head>

<body style="background-color:honeydew;">
    <div th:replace="~{menu :: menu}"></div>
    <div style="text-align: center;">
        <img width="50%" src="/img/ifrn-logo.png" style="text-align: center;">
    </div>
    <div class="container mt-5">
        
        <div class="row">
            
            <div class="col-md-4" th:each="c : ${comerciantes}">
                <div class="card mb-3" style="min-width:200px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img th:src="@{'/upload/' + ${c.caminhoImg}}" class="img-fluid rounded-start" style="min-height:200px; min-width: 150px;">

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${c.nome}">Pedro</h5>
                                <p> <i class="bi bi-envelope-at"></i> : <span th:text="${c.email}"></span></p>
                                <p> <i class="bi bi-whatsapp"></i> : <span class="card-text" th:text="${c.numWhats}"></span></p>

                                <div >
                                   <button type="button" class="btn btn-warning"><a th:href="@{/comerciantes/{id}(id=${c.id})}" 
                                    class="link-offset-2 link-underline link-underline-opacity-0" style="color: white;">Ver Produtos <i class="bi bi-eye"></i></a></button> 
                                </div>
                                <p></p>
                                <div>                          
                                    <button type="button" class="btn btn-success"><a th:href="@{/comerciantes/{id}/produtos (id=${c.id})}" 
                                        class="link-offset-2 link-underline link-underline-opacity-0" style="color: white;">Add Produtos <i class="bi bi-plus-lg"></i></a></button> 
                                 </div>
                                
                                <div style="text-align: right;"> 
                                   <a th:href="@{/comerciantes/{id}/remover(id=${c.id})}" class="btn btn-danger" ><i class="bi bi-trash-fill"></i></a>
                                   <a th:href="@{/comerciantes/{id}/selecionar(id=${c.id})}" class="btn btn-primary" ><i class="bi bi-pen-fill"></i></a>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(comerciantes)}">
                <h1 style="text-align: center;" >Nenhum Comerciante cadastrado</h1>
            </div>
        </div>
    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>